<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container px-4 px-lg-5">

        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}"><button class="btn btn-outline-info">Home</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_dashboard') }}"><button class="btn btn-outline-info">Votre dashboard</button></a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        <button class="btn btn-outline-dark">Logout</button>
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>